body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}
h1 {
    text-align: center;
    margin-top: 5%;
}
.status-list {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}
.status-list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}
